.trans-btn {
  display: flex;
  width: 15rem;
  padding: 1rem 0rem;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid var(--primary-color);
  border-radius: 3rem;
  cursor: pointer;
  // box-shadow: 0px 8px 16px 0px rgba(17, 69, 59, 0.20);
}
.opaque-btn {
  @extend .trans-btn;
  background-color: var(--primary-color);
  color: var(--bg-color);
}
