.header-wrap {
  display: flex;
  justify-content: center;

  .header-box {
    display: flex;
    gap: 13rem; 
    padding: 2rem 12rem;
    justify-items: center;
    .logo-box {
      .logo {
        cursor: pointer;
        // margin-right: 6rem;
      }
    }
    .links-wrap {
      display: flex;
      align-items: center;
      gap: 3rem;
      &:nth-child(n-1) {
        cursor: pointer;
      }
    }
    .btn-wrap {
      display: flex;
      gap: 2.5rem;
      align-self: flex-end;
    }
  }
}
